Repository codesquad-member-2020/issue-tracker-02, pull requests merged in 2020-06, with the labels that each got.

#5 BE 초기 세팅
  BE/.gitignore
  BE/build.gradle
  BE/gradle/wrapper/gradle-wrapper.jar
  BE/gradle/wrapper/gradle-wrapper.properties
  BE/gradlew
  BE/gradlew.bat
  BE/settings.gradle
  BE/src/main/java/com/codesquad/issuetracker/IssueTrackerApplication.java
  BE/src/main/java/com/codesquad/issuetracker/auth/data/User.java
  BE/src/main/java/com/codesquad/issuetracker/auth/web/AuthController.java
  BE/src/main/java/com/codesquad/issuetracker/config/SecurityConfig.java
  BE/src/main/java/com/codesquad/issuetracker/config/SwaggerConfig.java
  BE/src/main/resources/application-log.yml
  BE/src/main/resources/application.yml
  BE/src/test/java/com/codesquad/issuetracker/IssueTrackerApplicationTests.java
Labels: BE

#6 master 머지
  BE/.gitignore
  BE/build.gradle
  BE/gradle/wrapper/gradle-wrapper.jar
  BE/gradle/wrapper/gradle-wrapper.properties
  BE/gradlew
  BE/gradlew.bat
  BE/settings.gradle
  BE/src/main/java/com/codesquad/issuetracker/IssueTrackerApplication.java
  BE/src/main/java/com/codesquad/issuetracker/auth/data/User.java
  BE/src/main/java/com/codesquad/issuetracker/auth/web/AuthController.java
  BE/src/main/java/com/codesquad/issuetracker/config/SecurityConfig.java
  BE/src/main/java/com/codesquad/issuetracker/config/SwaggerConfig.java
  BE/src/main/resources/application-log.yml
  BE/src/main/resources/application.yml
  BE/src/test/java/com/codesquad/issuetracker/IssueTrackerApplicationTests.java
  README.md
Labels: BE

#10 Login & JWT
  BE/build.gradle
  BE/src/main/java/com/codesquad/issuetracker/IssueTrackerApplication.java
  BE/src/main/java/com/codesquad/issuetracker/auth/web/AuthController.java
  BE/src/main/java/com/codesquad/issuetracker/config/SecurityConfig.java
  BE/src/main/java/com/codesquad/issuetracker/config/property/AppProperty.java
  BE/src/main/java/com/codesquad/issuetracker/config/property/JwtProperty.java
  BE/src/main/java/com/codesquad/issuetracker/util/JwtUtil.java
Labels: BE

#11 Dev be
  BE/build.gradle
  BE/src/main/java/com/codesquad/issuetracker/IssueTrackerApplication.java
  BE/src/main/java/com/codesquad/issuetracker/auth/web/AuthController.java
  BE/src/main/java/com/codesquad/issuetracker/config/SecurityConfig.java
  BE/src/main/java/com/codesquad/issuetracker/config/property/AppProperty.java
  BE/src/main/java/com/codesquad/issuetracker/config/property/JwtProperty.java
  BE/src/main/java/com/codesquad/issuetracker/util/JwtUtil.java
Labels: BE

#15 로그인 화면, Github 로그인 구현
  iOS/.gitignore
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/AppDelegate.swift
  iOS/DoCollabo/DoCollabo/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/key colors/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/key colors/key.navy.colorset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/key colors/key.pink.colorset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/key colors/key.red.colorset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/key colors/key.yellow.colorset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/logo.apple.imageset/64px-Apple_logo_white.svg.png
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/logo.apple.imageset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/logo.github.imageset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/logo.github.imageset/logo.github.black.png
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/logo1.imageset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/logo1.imageset/logoWhite.png
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/signin.background.imageset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/signin.background.imageset/스크린샷 2020-06-09 오후 6.54.49.png
  iOS/DoCollabo/DoCollabo/Base.lproj/LaunchScreen.storyboard
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Extensions/Colors.swift
  iOS/DoCollabo/DoCollabo/Extensions/UIView+Border.swift
  iOS/DoCollabo/DoCollabo/Info.plist
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Network/EndPoint.swift
  iOS/DoCollabo/DoCollabo/Network/Errors/NetworkError.swift
  iOS/DoCollabo/DoCollabo/Network/NetworkManager.swift
  iOS/DoCollabo/DoCollabo/Network/Stubs/OAuthURLStub.swift
  iOS/DoCollabo/DoCollabo/Network/Views/ErrorAlertController.swift
  iOS/DoCollabo/DoCollabo/SceneDelegate.swift
  iOS/DoCollabo/DoCollabo/SignIn/Controllers/SignInViewController.swift
  iOS/DoCollabo/DoCollabo/SignIn/Views/LeadingImageButton.swift
  iOS/DoCollabo/DoCollabo/TabBarViewController.swift
Labels: feature, iOS

#16 로그인 화면, github 로그인 구현
  iOS/.gitignore
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/AppDelegate.swift
  iOS/DoCollabo/DoCollabo/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/key colors/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/key colors/key.navy.colorset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/key colors/key.pink.colorset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/key colors/key.red.colorset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/key colors/key.yellow.colorset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/logo.apple.imageset/64px-Apple_logo_white.svg.png
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/logo.apple.imageset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/logo.github.imageset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/logo.github.imageset/logo.github.black.png
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/logo1.imageset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/logo1.imageset/logoWhite.png
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/signin.background.imageset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/signin.background.imageset/스크린샷 2020-06-09 오후 6.54.49.png
  iOS/DoCollabo/DoCollabo/Base.lproj/LaunchScreen.storyboard
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Extensions/Colors.swift
  iOS/DoCollabo/DoCollabo/Extensions/UIView+Border.swift
  iOS/DoCollabo/DoCollabo/Info.plist
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Network/EndPoint.swift
  iOS/DoCollabo/DoCollabo/Network/Errors/NetworkError.swift
  iOS/DoCollabo/DoCollabo/Network/NetworkManager.swift
  iOS/DoCollabo/DoCollabo/Network/Stubs/OAuthURLStub.swift
  iOS/DoCollabo/DoCollabo/Network/Views/ErrorAlertController.swift
  iOS/DoCollabo/DoCollabo/SceneDelegate.swift
  iOS/DoCollabo/DoCollabo/SignIn/Controllers/SignInViewController.swift
  iOS/DoCollabo/DoCollabo/SignIn/Views/LeadingImageButton.swift
  iOS/DoCollabo/DoCollabo/TabBarViewController.swift
Labels: feature, iOS

#20 Be/feat/issue
  BE/.gitignore
  BE/build.gradle
  BE/src/main/java/com/codesquad/issuetracker/auth/web/AuthController.java
  BE/src/main/java/com/codesquad/issuetracker/exception/CustomAdvice.java
  BE/src/main/java/com/codesquad/issuetracker/issue/business/IssueService.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/Issue.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/IssueRepository.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/IssueController.java
  BE/src/main/java/com/codesquad/issuetracker/util/JwtUtil.java
  BE/src/main/resources/application-log.yml
  BE/src/main/resources/application.yml
  BE/src/main/resources/data.sql
Labels: BE

#23 Be/feat/issue
  BE/src/main/java/com/codesquad/issuetracker/auth/data/User.java
  BE/src/main/java/com/codesquad/issuetracker/config/SecurityConfig.java
  BE/src/main/java/com/codesquad/issuetracker/exception/CustomAdvice.java
  BE/src/main/java/com/codesquad/issuetracker/issue/business/IssueService.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/Issue.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/IssueController.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/model/IssueQuery.java
  BE/src/main/resources/application-log.yml
  BE/src/main/resources/data.sql
Labels: BE

#24 [BE] refactor :recycle: 코드 정리
  BE/src/main/java/com/codesquad/issuetracker/auth/web/AuthController.java
  BE/src/main/java/com/codesquad/issuetracker/util/JwtUtil.java
Labels: BE

#27 Be/feat/label
  BE/src/main/java/com/codesquad/issuetracker/issue/data/Issue.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/model/IssueQuery.java
  BE/src/main/java/com/codesquad/issuetracker/label/business/LabelService.java
  BE/src/main/java/com/codesquad/issuetracker/label/data/Label.java
  BE/src/main/java/com/codesquad/issuetracker/label/data/LabelRepository.java
  BE/src/main/java/com/codesquad/issuetracker/label/web/LabelController.java
  BE/src/main/java/com/codesquad/issuetracker/label/web/model/LabelQuery.java
  BE/src/main/resources/data.sql
Labels: BE

#34 Be/feat/label
  BE/src/main/java/com/codesquad/issuetracker/issue/data/Issue.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/model/IssueQuery.java
  BE/src/main/java/com/codesquad/issuetracker/label/business/LabelService.java
  BE/src/main/java/com/codesquad/issuetracker/label/data/Label.java
  BE/src/main/java/com/codesquad/issuetracker/label/web/LabelController.java
  BE/src/main/java/com/codesquad/issuetracker/label/web/model/LabelQuery.java
  BE/src/main/resources/data.sql
Labels: BE

#35 Be/feat/milestone
  BE/src/main/java/com/codesquad/issuetracker/milestone/business/MileStoneService.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/data/MileStone.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/data/MileStoneRepository.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/web/MileStoneController.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/web/model/GetMileStonesView.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/web/model/MileStoneQuery.java
  BE/src/main/resources/data.sql
Labels: BE

#36 Issue ViewController 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/signin.background.imageset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/signin.background.imageset/signin.background.png
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Extensions/UIColor+Hex.swift
  iOS/DoCollabo/DoCollabo/Extensions/UIView+AutoLayout.swift
  iOS/DoCollabo/DoCollabo/Extensions/UIView+Border.swift
  iOS/DoCollabo/DoCollabo/Extensions/UIView+Shadow.swift
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/IssueLabels/IssueLabelCell.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/IssueLabels/IssueLabelCell.xib
  iOS/DoCollabo/DoCollabo/Issues/Views/IssueLabels/IssueLabelsCollectionView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalCell.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalContentsStackView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalTitleLabel.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssuesCollectionView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Layouts/LeftAlignedCollectionViewFlowLayout.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.xib
  iOS/DoCollabo/DoCollabo/NibView.swift
Labels: feature, iOS

#39 이슈뷰컨트롤러 fetch & update
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/DataSource/IssuesCollectionViewDataSource.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/IssueLabels/IssueLabelCell.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/IssueLabels/IssueLabelsCollectionView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalCell.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssuesCollectionView.swift
  iOS/DoCollabo/DoCollabo/Models/Issue.swift
  iOS/DoCollabo/DoCollabo/Models/IssueLabel.swift
  iOS/DoCollabo/DoCollabo/Network/EndPoint.swift
  iOS/DoCollabo/DoCollabo/Network/Errors/NetworkError.swift
  iOS/DoCollabo/DoCollabo/Network/NetworkDispatcher.swift
  iOS/DoCollabo/DoCollabo/Network/OAuthNetworkManager.swift
  iOS/DoCollabo/DoCollabo/Network/Session+NetworkDispatcher.swift
  iOS/DoCollabo/DoCollabo/Network/UseCases/IssueUseCase.swift
  iOS/DoCollabo/DoCollabo/Network/UseCases/UseCase.swift
  iOS/DoCollabo/DoCollabo/Network/Views/ErrorAlertController.swift
  iOS/DoCollabo/DoCollabo/ViewModels/ViewModelBinding.swift
Labels: feature, iOS

#44 Issue 스크롤 애니메이션 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Extensions/UIView+Animations.swift
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController+ScrollAnimation.swift
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderBackgroundView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.swift
Labels: feature, iOS

#45 Be/feat/issue
  BE/src/main/java/com/codesquad/issuetracker/common/web/CommonController.java
  BE/src/main/java/com/codesquad/issuetracker/issue/business/IssueService.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/Issue.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/Reply.java
  BE/src/main/resources/data.sql
Labels: BE

#47 LabelsViewController 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Labels/DataSources/LabelsCollectionViewDataSource.swift
  iOS/DoCollabo/DoCollabo/Labels/ViewControllers/LabelsViewController.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.xib
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelsCollectionView.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Labels/AddLabelRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Labels/DeleteLabelRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Labels/FetchLabelRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Labels/FetchLabelsRequest.swift
Labels: feature, iOS

#53 Be/refactor1
  BE/.gitignore
  BE/build.gradle
  BE/src/main/java/com/codesquad/issuetracker/label/business/LabelService.java
  BE/src/main/java/com/codesquad/issuetracker/label/data/Label.java
  BE/src/main/java/com/codesquad/issuetracker/label/web/model/LabelQuery.java
  BE/src/test/java/com/codesquad/issuetracker/IssueTrackerApplicationTests.java
  BE/src/test/java/com/codesquad/issuetracker/label/LabelIntegrationTest.java
  BE/src/test/java/com/codesquad/issuetracker/label/data/LabelTest.java
  BE/src/test/resources/application.yml
Labels: BE

#54 Be/refactor/milestone
  BE/src/main/java/com/codesquad/issuetracker/milestone/business/MileStoneService.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/data/MileStone.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/web/MileStoneController.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/web/model/MileStoneQuery.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/web/model/MileStoneView.java
  BE/src/test/java/com/codesquad/issuetracker/LabelTest.java
  BE/src/test/java/com/codesquad/issuetracker/MileStoneTest.java
  BE/src/test/java/com/codesquad/issuetracker/label/LabelIntegrationTest.java
  BE/src/test/java/com/codesquad/issuetracker/label/data/LabelTest.java
Labels: BE

#56 IssueHorizontalCell dynamic height 구현
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/DataSource/IssuesCollectionViewDataSource.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/IssueLabels/IssueLabelsCollectionView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalCell.swift
Labels: feature, iOS

#59 IssueHorizontalCell & LabelCell UI 리팩토링
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/IssueLabels/IssueLabelCell.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalCell.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalTitleLabel.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.xib
Labels: iOS, refactoring

#61 Network 기본 설정 및 이슈 관련한 요청 객체 생성
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Models/Issue.swift
  iOS/DoCollabo/DoCollabo/Models/IssueLabel.swift
  iOS/DoCollabo/DoCollabo/Network/EndPoint.swift
  iOS/DoCollabo/DoCollabo/Network/NetworkDispatcher.swift
  iOS/DoCollabo/DoCollabo/Network/OAuthNetworkManager.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Issue/AddIssueRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Issue/DeleteIssueRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Issue/FetchIssueRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Issue/FetchIssuesRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Request.swift
  iOS/DoCollabo/DoCollabo/Network/Session+NetworkDispatcher.swift
  iOS/DoCollabo/DoCollabo/Network/UseCases/IssueUseCase.swift
  iOS/DoCollabo/DoCollabo/SignIn/Controllers/SignInViewController.swift
Labels: feature, iOS

#62 다크모드 대응
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Issues/Views/IssueLabels/IssueLabelsCollectionView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalCell.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.xib
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.swift
Labels: feature, iOS

#55 리뷰 요청
  BE/.gitignore
  BE/build.gradle
  BE/gradle/wrapper/gradle-wrapper.jar
  BE/gradle/wrapper/gradle-wrapper.properties
  BE/gradlew
  BE/gradlew.bat
  BE/settings.gradle
  BE/src/main/java/com/codesquad/issuetracker/IssueTrackerApplication.java
  BE/src/main/java/com/codesquad/issuetracker/auth/data/User.java
  BE/src/main/java/com/codesquad/issuetracker/auth/web/AuthController.java
  BE/src/main/java/com/codesquad/issuetracker/common/web/CommonController.java
  BE/src/main/java/com/codesquad/issuetracker/config/SecurityConfig.java
  BE/src/main/java/com/codesquad/issuetracker/config/SwaggerConfig.java
  BE/src/main/java/com/codesquad/issuetracker/config/property/AppProperty.java
  BE/src/main/java/com/codesquad/issuetracker/config/property/JwtProperty.java
  BE/src/main/java/com/codesquad/issuetracker/exception/CustomAdvice.java
  BE/src/main/java/com/codesquad/issuetracker/issue/business/IssueService.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/Issue.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/IssueRepository.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/Reply.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/IssueController.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/model/IssueQuery.java
  BE/src/main/java/com/codesquad/issuetracker/label/business/LabelService.java
  BE/src/main/java/com/codesquad/issuetracker/label/data/Label.java
  BE/src/main/java/com/codesquad/issuetracker/label/data/LabelRepository.java
  BE/src/main/java/com/codesquad/issuetracker/label/web/LabelController.java
  BE/src/main/java/com/codesquad/issuetracker/label/web/model/LabelQuery.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/business/MileStoneService.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/data/MileStone.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/data/MileStoneRepository.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/web/MileStoneController.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/web/model/MileStoneQuery.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/web/model/MileStoneView.java
  BE/src/main/java/com/codesquad/issuetracker/util/JwtUtil.java
  BE/src/main/resources/application.yml
  BE/src/main/resources/data.sql
  BE/src/test/java/com/codesquad/issuetracker/LabelTest.java
  BE/src/test/java/com/codesquad/issuetracker/MileStoneTest.java
  BE/src/test/resources/application.yml
Labels: BE, be-review

#63 LabelCell 고정 높이 설정 및 리팩토링
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Labels/DataSources/LabelsCollectionViewDataSource.swift
  iOS/DoCollabo/DoCollabo/Labels/ViewControllers/LabelsViewController.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.xib
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelsCollectionView.swift
Labels: feature, iOS, refactoring

#68 네트워크 구조 리팩토링
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Labels/ViewControllers/LabelsViewController.swift
  iOS/DoCollabo/DoCollabo/Network/OAuthNetworkManager.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Issue/AddIssueRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Issue/DeleteIssueRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Issue/FetchIssueRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Issue/FetchIssuesRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/IssuesRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Labels/AddLabelRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Labels/DeleteLabelRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Labels/FetchLabelRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Labels/FetchLabelsRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/LabelsRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Request.swift
  iOS/DoCollabo/DoCollabo/Network/UseCases/IssuesUseCase.swift
  iOS/DoCollabo/DoCollabo/Network/UseCases/LabelsUseCase.swift
  iOS/DoCollabo/DoCollabo/Network/UseCases/UseCase.swift
  iOS/DoCollabo/DoCollabo/SignIn/Controllers/SignInViewController.swift
Labels: iOS, refactoring

#82 [BE] refactor :recycle: Milestone 로직 개선
  BE/src/main/java/com/codesquad/issuetracker/issue/data/relation/IssueMilestoneRelationRepository.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/business/MilestoneService.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/web/model/MilestoneView.java
  BE/src/test/java/com/codesquad/issuetracker/MilestoneTest.java
Labels: BE

#84 [BE] feat :fire: JWT 를 만드는 API 추가
  BE/src/main/java/com/codesquad/issuetracker/auth/web/AuthController.java
  BE/src/test/java/com/codesquad/issuetracker/AuthTest.java
Labels: BE

#81 fluid 스크롤 애니메이션
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController+ScrollAnimation.swift
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderBackgroundView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.xib
Labels: feature, iOS, refactoring

#85 IssueLabelsCollectionView ViewController로 리팩토링
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssueLabelsViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/IssueLabels/IssueLabelsCollectionView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalCell.swift
Labels: iOS, refactoring

#90 Be/refactor/milestone2
  BE/src/main/java/com/codesquad/issuetracker/issue/business/IssueService.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/Issue.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/relation/IssueLabelRelationRepository.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/relation/IssueMilestoneRelationRepository.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/IssueController.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/model/PatchIssueQuery.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/model/PutIssueQuery.java
  BE/src/main/java/com/codesquad/issuetracker/label/business/LabelService.java
  BE/src/main/java/com/codesquad/issuetracker/label/data/Label.java
  BE/src/main/java/com/codesquad/issuetracker/label/web/LabelController.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/business/MilestoneService.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/data/Milestone.java
  BE/src/main/java/com/codesquad/issuetracker/milestone/web/MilestoneController.java
  BE/src/main/resources/data.sql
  BE/src/test/java/com/codesquad/issuetracker/IssueTest.java
  BE/src/test/java/com/codesquad/issuetracker/LabelTest.java
  BE/src/test/java/com/codesquad/issuetracker/MilestoneTest.java
Labels: BE

#93 iOS README 작성
  iOS/README.md
Labels: documentation, iOS

#95 HexColor extension 리팩토링
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Extensions/UIColor+Hex.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/IssueLabels/IssueLabelCell.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.swift
  iOS/DoCollabo/DoCollaboTests/HexColorTests.swift
  iOS/DoCollabo/DoCollaboTests/Info.plist
Labels: iOS, refactoring

#98 Login 화면 modal 방식 변경
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
Labels: feature, iOS

#110 [BE] feat :fire: keyword 를 통한 Issue 검색
  BE/src/main/java/com/codesquad/issuetracker/issue/business/IssueService.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/IssueRepository.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/IssueController.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/model/SearchIssueQuery.java
  BE/src/test/java/com/codesquad/issuetracker/IssueTest.java
Labels: BE

#112 [BE] refactor :recycle: 잘못된 로직 수정
  BE/src/main/java/com/codesquad/issuetracker/issue/business/IssueService.java
  BE/src/test/java/com/codesquad/issuetracker/IssueTest.java
Labels: BE

#97 PopUpViewController 구현 및 추상화
  iOS/.gitignore
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Delegates/HeaderViewActionDelegate.swift
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.xib
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelPopUpViewController.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelsViewController.swift
  iOS/DoCollabo/DoCollabo/Network/Request/LabelRequest.swift
  iOS/DoCollabo/DoCollabo/Network/UseCases/IssueUseCase.swift
  iOS/DoCollabo/DoCollabo/Network/UseCases/LabelUseCase.swift
  iOS/DoCollabo/DoCollabo/PopUp/Controllers/ColorPickerViewController.swift
  iOS/DoCollabo/DoCollabo/PopUp/Controllers/PopUpViewController.swift
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpColorPickerView.swift
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpColorPickerView.xib
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpContentView.swift
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpContentView.xib
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpFooterView.swift
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpFooterView.xib
Labels: feature, iOS

#117 레이블 추가 기능 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo.xcodeproj/xcshareddata/xcschemes/DoCollabo.xcscheme
  iOS/DoCollabo/DoCollabo/Extensions/UIColor+Random.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelPopUpViewController.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelsViewController.swift
  iOS/DoCollabo/DoCollabo/Models/IssueLabel.swift
  iOS/DoCollabo/DoCollabo/Network/NetworkDispatcher.swift
  iOS/DoCollabo/DoCollabo/Network/Request/LabelRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Request/Request.swift
  iOS/DoCollabo/DoCollabo/Network/Session+NetworkDispatcher.swift
  iOS/DoCollabo/DoCollabo/Network/UseCases/UseCase.swift
  iOS/DoCollabo/DoCollabo/PopUp/Controllers/ColorPickerViewController.swift
  iOS/DoCollabo/DoCollabo/PopUp/Controllers/PopUpViewController.swift
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpColorPickerView.swift
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpFooterView.swift
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpFooterView.xib
Labels: feature, iOS

#120 Be/feat/issuesearch
  BE/src/main/java/com/codesquad/issuetracker/auth/web/AuthController.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/IssueController.java
  BE/src/main/java/com/codesquad/issuetracker/util/JwtUtil.java
  BE/src/test/java/com/codesquad/issuetracker/AuthTest.java
Labels: BE

#119 Apple Login 기능 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/DoCollabo.entitlements
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/SignIn/Controllers/SignInViewController.swift
Labels: feature, iOS

#122 스토리보드 connection 제거
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
Labels: bug, iOS

#123 UIColor hex string 에러 수정
  iOS/DoCollabo/DoCollabo/Extensions/UIColor+Random.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelPopUpViewController.swift
  iOS/DoCollabo/DoCollabo/PopUp/Controllers/ColorPickerViewController.swift
Labels: bug, iOS

#124 Be/feat/issuesearch
  BE/src/main/java/com/codesquad/issuetracker/common/web/CommonController.java
  BE/src/main/java/com/codesquad/issuetracker/issue/business/IssueService.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/Issue.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/Reply.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/type/EmojiType.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/model/IssueView.java
  BE/src/main/resources/data.sql
Labels: BE

#127 라벨 추가/IssueCell UI 수정 피드백 반영
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Delegates/HeaderViewActionDelegate.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalCell.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalContentsStackView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelPopUpViewController.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelsViewController.swift
  iOS/DoCollabo/DoCollabo/Network/OAuthNetworkManager.swift
Labels: iOS, refactoring

#126 새 이슈 추가 화면 구성
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Assets.xcassets/colors/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/colors/pale.gray.colorset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/key colors/key.navy.colorset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/signin.background.imageset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/signin.background.imageset/image.png
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/signin.background.imageset/signin.background.png
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.xib
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/IssueAddViewController.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/NewIssueViewController.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/IssueAddAccessoryView.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueAccessoryView.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueAccessoryView.xib
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueHorizontalScrollView.swift
Labels: feature, iOS

#128 새 이슈 추가화면 구성
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Assets.xcassets/colors/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/colors/pale.gray.colorset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/key colors/key.navy.colorset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/signin.background.imageset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/signin.background.imageset/image.png
  iOS/DoCollabo/DoCollabo/Assets.xcassets/sign in/signin.background.imageset/signin.background.png
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.xib
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/IssueAddViewController.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/NewIssueViewController.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/IssueAddAccessoryView.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueAccessoryView.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueAccessoryView.xib
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueHorizontalScrollView.swift
Labels: feature, iOS

#130 MoreViewController UI
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Assets.xcassets/button.dismiss.symbolset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/button.dismiss.symbolset/xmark.circle.fill.svg
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalCell.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalTrailingStackView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueMoreButton.swift
  iOS/DoCollabo/DoCollabo/More/Controllers/IssueCellMoreViewController.swift
  iOS/DoCollabo/DoCollabo/More/Controllers/MoreViewController.swift
  iOS/DoCollabo/DoCollabo/More/Views/MoreOptionButton.swift
  iOS/DoCollabo/DoCollabo/More/Views/MoreView.swift
  iOS/DoCollabo/DoCollabo/More/Views/OptionsView.swift
Labels: feature, iOS

#134 Be/feat/issuesearch
  BE/src/main/java/com/codesquad/issuetracker/issue/business/IssueService.java
  BE/src/main/java/com/codesquad/issuetracker/issue/data/IssueRepository.java
  BE/src/main/java/com/codesquad/issuetracker/issue/web/model/SearchIssueQuery.java
  BE/src/main/java/com/codesquad/issuetracker/util/JwtUtil.java
  BE/src/test/java/com/codesquad/issuetracker/AuthTest.java
Labels: BE

#136 레이블 Cell UI 업데이트
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelsViewController.swift
  iOS/DoCollabo/DoCollabo/Labels/DataSources/LabelsCollectionViewDataSource.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.xib
Labels: feature, iOS

#131 더보기 버튼 화면 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Assets.xcassets/button.dismiss.symbolset/Contents.json
  iOS/DoCollabo/DoCollabo/Assets.xcassets/button.dismiss.symbolset/xmark.circle.fill.svg
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalCell.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalTrailingStackView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueMoreButton.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelsViewController.swift
  iOS/DoCollabo/DoCollabo/Labels/DataSources/LabelsCollectionViewDataSource.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.xib
  iOS/DoCollabo/DoCollabo/More/Controllers/IssueCellMoreViewController.swift
  iOS/DoCollabo/DoCollabo/More/Controllers/MoreViewController.swift
  iOS/DoCollabo/DoCollabo/More/Views/MoreOptionButton.swift
  iOS/DoCollabo/DoCollabo/More/Views/MoreView.swift
  iOS/DoCollabo/DoCollabo/More/Views/OptionsView.swift
Labels: feature, iOS

#139 이슈셀 더보기 메뉴 요청 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController+LoadingUI.swift
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/DataSource/IssuesCollectionViewDataSource.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalCell.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueStatusImageView.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelsViewController.swift
  iOS/DoCollabo/DoCollabo/Models/Issue.swift
  iOS/DoCollabo/DoCollabo/More/Controllers/IssueCellMoreViewController.swift
  iOS/DoCollabo/DoCollabo/More/Controllers/MoreViewController.swift
  iOS/DoCollabo/DoCollabo/Network/Errors/NetworkError.swift
  iOS/DoCollabo/DoCollabo/Network/Request/IssuesRequest.swift
  iOS/DoCollabo/DoCollabo/Network/UseCases/IssueUseCase.swift
  iOS/DoCollabo/DoCollabo/Network/Views/ErrorAlertController.swift
  iOS/DoCollabo/DoCollabo/Network/Views/NetworkErrorAlertController.swift
  iOS/DoCollabo/DoCollabo/SignIn/Controllers/SignInViewController.swift
Labels: feature, iOS

#141 이슈 셀 더보기 기능 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController+LoadingUI.swift
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/DataSource/IssuesCollectionViewDataSource.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalCell.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueStatusImageView.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelsViewController.swift
  iOS/DoCollabo/DoCollabo/Models/Issue.swift
  iOS/DoCollabo/DoCollabo/More/Controllers/IssueCellMoreViewController.swift
  iOS/DoCollabo/DoCollabo/More/Controllers/MoreViewController.swift
  iOS/DoCollabo/DoCollabo/Network/Errors/NetworkError.swift
  iOS/DoCollabo/DoCollabo/Network/Request/IssuesRequest.swift
  iOS/DoCollabo/DoCollabo/Network/UseCases/IssueUseCase.swift
  iOS/DoCollabo/DoCollabo/Network/Views/ErrorAlertController.swift
  iOS/DoCollabo/DoCollabo/Network/Views/NetworkErrorAlertController.swift
  iOS/DoCollabo/DoCollabo/SignIn/Controllers/SignInViewController.swift
Labels: feature, iOS

#143 이슈 작성시 담당자, 레이블, 마일스톤 선택하도록 목록 보여주는 화면 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.xib
  iOS/DoCollabo/DoCollabo/Models/IssueLabel.swift
  iOS/DoCollabo/DoCollabo/Models/Milestone.swift
  iOS/DoCollabo/DoCollabo/Models/User.swift
  iOS/DoCollabo/DoCollabo/Network/EndPoint.swift
  iOS/DoCollabo/DoCollabo/Network/Request/MilestoneRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Stubs/AssigneesStub.swift
  iOS/DoCollabo/DoCollabo/Network/UseCases/MilestoneUseCase.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/ItemSelectionViewController.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/NewIssueViewController.swift
  iOS/DoCollabo/DoCollabo/NewIssue/DataSources/GeneralDataSource.swift
  iOS/DoCollabo/DoCollabo/NewIssue/DataSources/GeneralTableViewDataSource.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/AssigneeTableViewCell.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/AssigneeTableViewCell.xib
  iOS/DoCollabo/DoCollabo/NewIssue/Views/LabelTableViewCell.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/LabelTableViewCell.xib
  iOS/DoCollabo/DoCollabo/NewIssue/Views/MilestoneTableViewCell.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/MilestoneTableViewCell.xib
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueAccessoryView.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueAccessoryView.xib
Labels: feature, iOS

#146 이슈 추가 화면의 NewIssueAccessoryView 기능 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Extensions/PaddingLabel.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/ItemSelectionViewController.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/NewIssueViewController.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueAccessoryView.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueAccessoryView.xib
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueHorizontalScrollView.swift
Labels: feature, iOS

#147 마크다운 뷰어 기능 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/NewIssueViewController.swift
Labels: feature, iOS

#144 이슈 작성시 담당자, 레이블, 마일스톤 선택하도록 목록 보여주는 화면 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Extensions/PaddingLabel.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.xib
  iOS/DoCollabo/DoCollabo/Models/IssueLabel.swift
  iOS/DoCollabo/DoCollabo/Models/Milestone.swift
  iOS/DoCollabo/DoCollabo/Models/User.swift
  iOS/DoCollabo/DoCollabo/Network/EndPoint.swift
  iOS/DoCollabo/DoCollabo/Network/Request/MilestoneRequest.swift
  iOS/DoCollabo/DoCollabo/Network/Stubs/AssigneesStub.swift
  iOS/DoCollabo/DoCollabo/Network/UseCases/MilestoneUseCase.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/ItemSelectionViewController.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/NewIssueViewController.swift
  iOS/DoCollabo/DoCollabo/NewIssue/DataSources/GeneralDataSource.swift
  iOS/DoCollabo/DoCollabo/NewIssue/DataSources/GeneralTableViewDataSource.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/AssigneeTableViewCell.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/AssigneeTableViewCell.xib
  iOS/DoCollabo/DoCollabo/NewIssue/Views/LabelTableViewCell.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/LabelTableViewCell.xib
  iOS/DoCollabo/DoCollabo/NewIssue/Views/MilestoneTableViewCell.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/MilestoneTableViewCell.xib
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueAccessoryView.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueAccessoryView.xib
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueHorizontalScrollView.swift
Labels: feature, iOS

#148 LabelCell 더보기 기능 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/IssueLabels/IssueLabelCell.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalCell.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelPopUpViewController.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelsViewController.swift
  iOS/DoCollabo/DoCollabo/Labels/DataSources/LabelsCollectionViewDataSource.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.xib
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelDescriptionLabel.swift
  iOS/DoCollabo/DoCollabo/Models/IssueLabel.swift
  iOS/DoCollabo/DoCollabo/More/Controllers/IssueCellMoreViewController.swift
  iOS/DoCollabo/DoCollabo/More/Controllers/LabelCellMoreViewController.swift
  iOS/DoCollabo/DoCollabo/More/Controllers/MoreViewController.swift
  iOS/DoCollabo/DoCollabo/More/Views/MoreTitleLabelView.swift
  iOS/DoCollabo/DoCollabo/More/Views/MoreView.swift
  iOS/DoCollabo/DoCollabo/PopUp/Controllers/ColorPickerViewController.swift
  iOS/DoCollabo/DoCollabo/PopUp/Controllers/PopUpViewController.swift
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpColorPickerView.xib
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpContentView.swift
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpContentView.xib
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpFooterView.xib
Labels: feature, iOS

#151 LabelCell 더보기 기능 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/IssueLabels/IssueLabelCell.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalCell.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelPopUpViewController.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelsViewController.swift
  iOS/DoCollabo/DoCollabo/Labels/DataSources/LabelsCollectionViewDataSource.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.swift
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelCell.xib
  iOS/DoCollabo/DoCollabo/Labels/Views/LabelDescriptionLabel.swift
  iOS/DoCollabo/DoCollabo/Models/IssueLabel.swift
  iOS/DoCollabo/DoCollabo/More/Controllers/IssueCellMoreViewController.swift
  iOS/DoCollabo/DoCollabo/More/Controllers/LabelCellMoreViewController.swift
  iOS/DoCollabo/DoCollabo/More/Controllers/MoreViewController.swift
  iOS/DoCollabo/DoCollabo/More/Views/MoreTitleLabelView.swift
  iOS/DoCollabo/DoCollabo/More/Views/MoreView.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/LabelTableViewCell.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueAccessoryView.swift
  iOS/DoCollabo/DoCollabo/PopUp/Controllers/ColorPickerViewController.swift
  iOS/DoCollabo/DoCollabo/PopUp/Controllers/PopUpViewController.swift
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpColorPickerView.xib
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpContentView.swift
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpContentView.xib
  iOS/DoCollabo/DoCollabo/PopUp/Views/PopUpFooterView.xib
Labels: feature, iOS

#152 새이슈 작성 요청 기능 구현
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController+ScrollAnimation.swift
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.swift
  iOS/DoCollabo/DoCollabo/Models/NewIssue.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/NewIssueViewController.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueAccessoryView.xib
Labels: feature, iOS

#154 LabelsViewController scroll animation
  iOS/DoCollabo/DoCollabo.xcodeproj/project.pbxproj
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelsViewController+ScrollAnimation.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelsViewController.swift
Labels: feature, iOS

#156 issuesVC 헤더뷰 searchBar with animation
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController+ScrollAnimation.swift
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.xib
Labels: feature, iOS

#158 서치필드 검색 기능 구현
  iOS/DoCollabo/DoCollabo/Base.lproj/Main.storyboard
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.xib
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelsViewController.swift
  iOS/DoCollabo/DoCollabo/Network/EndPoint.swift
  iOS/DoCollabo/DoCollabo/Network/Request/IssuesRequest.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/NewIssueViewController.swift
Labels: feature, iOS

#159 Cell LongPress 구현
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/Issues/IssueHorizontalTrailingStackView.swift
  iOS/DoCollabo/DoCollabo/Labels/Controllers/LabelsViewController.swift
Labels: feature, iOS

#165 새로운 이슈 작성 후 새이슈 화면에 남은 내용 지우기
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/ItemSelectionViewController.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Controllers/NewIssueViewController.swift
  iOS/DoCollabo/DoCollabo/NewIssue/Views/NewIssueAccessoryView.swift
Labels: feature, iOS

#166 검색어 없는 경우 전체 목록 불러오기
  iOS/DoCollabo/DoCollabo/Issues/Controllers/IssuesViewController.swift
  iOS/DoCollabo/DoCollabo/Issues/Views/TitleHeaderView.swift
Labels: feature, iOS
